/* .one{
    width: 200px;
    height: 200px;
    background: #f28383;
}
.two{
    width: 200px;
    height: 200px;
    background: #f28383;
} */

.color{
    color: #f28383;
    font-size: 50px;
    transition: all 4s;
}

.one{
    width: 300px;
    height: 200px;
    background: #02eeff;
}
.two{
    width: 300px;
    height: 200px;
    background: #02eeff;
}